@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.top {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}

.circle {
  position: relative;
  border-radius: 50%;
  --circle-diameter: 31rem;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.digit {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  display: inline-block;
}

.center {
  display: inline-block;
  position: absolute;
  --center-diameter: 0.9rem;
  bottom: calc(var(--circle-diameter) / 2 - var(--center-diameter) / 2);
  left: calc(var(--circle-diameter) / 2 - var(--center-diameter) / 2);
  width: var(--center-diameter);
  height: var(--center-diameter);
  border-radius: 50%;
  background-color: black;
}

.needle {
  display: inline-block;
  background-color: black;
  position: absolute;
  transform-origin: left;
}

.hours {
  --needle-width: 106px;
  --needle-height: 9px;
  width: var(--needle-width);
  height: var(--needle-height);
  bottom: calc(var(--circle-diameter) / 2 - var(--needle-height) / 2);
  left: calc(var(--circle-diameter) / 2);
}

.minutes {
  --needle-width: 160px;
  --needle-height: 9px;
  width: var(--needle-width);
  height: var(--needle-height);
  bottom: calc(var(--circle-diameter) / 2 - var(--needle-height) / 2);
  left: calc(var(--circle-diameter) / 2);
}

.seconds {
  --needle-width: 170px;
  --needle-height: 3px;
  width: var(--needle-width);
  height: var(--needle-height);
  bottom: calc(var(--circle-diameter) / 2 - var(--needle-height) / 2);
  left: calc(var(--circle-diameter) / 2);
}
